In [2]:
print("Hola mundo")

Hola mundo

Hola Mundo

In [16]:
#Python!
#No tipado
#Variables primitivas
entero = 4 
decimales = 1.1
nombre = "Jair"
segundo_nombre = "Andres" #segundoNombre x -> MAL
apellido = "Quiñonez"
casado = False 
profesor = True
hijos = None
print(type(entero))
print(type(decimales))
print(type(nombre))
print(type(segundo_nombre))
print(type(apellido))
print(type(casado))
print(type(profesor))
print(type(hijos))
#NAN not a number 
print(entero)
entero = decimales
entero = hijos
entero = casado
entero = nombre
print(entero)

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'NoneType'>
4
Jair

In [3]:
cadena_de_texto = """
Jair Andres quieñonez Tenorio, 
nombres completos para testear"""
print(entero)

NameError: name 'entero' is not defined

In [17]:
#condiciones 
#comillas simples y dobles son iguales. Strings 
#Truty and Falsy
tuplas = (1,2,3) #arreglos que no se pueden modificar
lista = [4,5,6] #arreglos modificables 
diccionario = {
    "nombre":"Jair",
    
}
if('Jair'):
    #.....
    #::::::
    print('Truty')
else:
    #::::::
    #..........
    print('Falsy')
if(''):#falsi
    print('Truty')
else:
    print('Falsy')

variable = None 
if(variable):
    print('Truty')
else:
    print('Falsy')
if(1):
    print('Truty')
else:
    print('Falsy')
if(0):
    print('Truty')
else:
    print('Falsy')
if(-1):
    print('Truty')
else:
    print('Falsy')
if(1.2):
    print('Truty')
else:
    print('Falsy')
##################Tuplas, arreglos y diccionarios 

if(()):#falsy
    print('Truty')
else:
    print('Falsy')
if((1,2,3)):#truty
    print('Truty')
else:
    print('Falsy')
if([]): #falsy
    print('Truty')
else:
    print('Falsy')
if([4,5,6]): #truty
    print('Truty')
else:
    print('Falsy')
if({}):#falsy
    print('Truty')
else:
    print('Falsy')
if({nombre: "Jair"}):#Truty
    print('Truty')
else:
    print('Falsy')

Truty
Falsy
Falsy
Truty
Falsy
Truty
Truty
Falsy
Truty
Falsy
Truty
Falsy
Truty

In [34]:
arreglo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
arreglo[0:3] #[0,3[
arreglo[5:] #desde ese numero hasta el final. 
arreglo[:7]# desde el 0 hata esa posicion
arreglo[-1]#Indice negativo empieza desd eel final 
arreglo[-10]#Desde el final
arreglo[-8:8]
arreglo[-4:-1]
arreglo[-7:]
arreglo[:-3]
arreglo[:]#toma todo el arreglo

arreglo_tupla = (1,2,3,4,5,6,7,8,9,10)
arreglo_tupla[5:9]

(6, 7, 8, 9)

In [43]:
diccionario = {
    "nombre":"Jair",
    "apellido":"Quiñonez",
    "sueldo":"100.00"
}
diccionario['nombre']#los diccionarios funcionan mas como llave valor.

'Jair'

In [53]:
print(type(12 in arreglo))
9 in arreglo# forma util de buscar valores en los arreglos 
len(diccionario)
len(arreglo)
len(lista)
"nombre" in diccionario # para diccionarios e debe poner las 
                        # llaves

<class 'bool'>

True

In [58]:
#arreglo_tupla[0] = 2
#arreglo.pop
#arreglo.append
#arreglo.insert

In [63]:
for numero_lista in arreglo_tupla:
    print(numero_lista)

1
2
3
4
5
6
7
8
9
10

In [64]:
for numero_lista in diccionario:
    print(numero_lista)

nombre
apellido
sueldo

In [67]:
contador = 0 
while contador < 10:
    print(contador)
    contador+=1

0
1
2
3
4
5
6
7
8
9

In [71]:
jair = {
    True: "Jair",
    False: "Quiñonez",
    1: 12.2,
    1.1: 89,
    'edad': 23,
    "mascotas": [{"nombre": 'Max'}],
    None: None
}

In [73]:
jair['edad']=30
jair['apellido']='Quiñonez'
jair['mascotas'][0]['nombre'] = "Luna"
jair

{True: 12.2,
 False: 'Quiñonez',
 1.1: 89,
 'edad': 30,
 'mascotas': [{'nombre': 'Luna'}],
 None: None,
 'apellido': 'Quiñonez'}

In [78]:
jair.keys()

dict_keys([True, False, 1.1, 'edad', 'mascotas', None, 'apellido'])

In [80]:
print(type(jair.values()))

<class 'dict_values'>

In [81]:
for llave in jair.keys():
    print(llave)

True
False
1.1
edad
mascotas
None
apellido

In [82]:
for values in jair.values():
    print(values)

12.2
Quiñonez
89
30
[{'nombre': 'Luna'}]
None
Quiñonez

In [83]:
1==1 or 2==2
3!=3 and 4!=4

False