<h1>Qui√±onez Jair Examen</h1>

## 1) Examen

In [76]:
## 2) 
import numpy as np 
arreglo_cero = np.zeros(10)
print(arreglo_cero)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [ ]:
## 3)

In [3]:
arreglo_cero_con_uno = np.zeros(10)
arreglo_cero_con_uno[4] = 1
print(arreglo_cero)

[0. 0. 0. 0. 1. 0. 0. 0. 0. 0.]

In [77]:
## 4)

In [4]:
arreglo_cincuenta = np.arange(50)
cambiado = arreglo_cincuenta[::-1]
print(cambiado)

[49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26
 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10  9  8  7  6  5  4  3  2
  1  0]

In [78]:
## 5)

In [7]:
matriz_por_tres = np.arange(9).reshape(3,3)
print(matriz_por_tres)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

In [79]:
## 6)

In [9]:
import numpy as np
arreglo = [1,2,0,0,4,0]

no_cero = np.nonzero(arreglo)
print(f'Los indices son:{no_cero}')

Los indices son:(array([0, 1, 4], dtype=int64),)

In [80]:
## 7)

In [11]:
matriz_identidad = np.eye(3)
print(matriz_identidad)

[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]

In [81]:
## 8)

In [12]:
matriz_radom_tres = np.random.random((3,3,3))
print(matriz_radom_tres)

[[[0.08534897 0.38785073 0.09416351]
  [0.74699407 0.43223412 0.09207427]
  [0.37048918 0.5718459  0.51500941]]

 [[0.49083152 0.23975248 0.10549726]
  [0.62305098 0.24670063 0.01038802]
  [0.01362475 0.66272826 0.3948951 ]]

 [[0.30145905 0.38570478 0.60817877]
  [0.11723159 0.85823584 0.81094027]
  [0.79379434 0.05997884 0.28365122]]]

In [82]:
## 9)

In [13]:
matriz_diez = np.random.random((10,10))
print(matriz_diez)
print(f'El mayor: {matriz_diez.max()}')
print(f'El menor: {matriz_diez.min()}')

[[0.56777516 0.75589539 0.38810064 0.16727477 0.04123197 0.2801929
  0.84351561 0.32159798 0.84619567 0.23205822]
 [0.44525681 0.32126181 0.26769746 0.01845599 0.88225582 0.72768848
  0.08688964 0.75308792 0.85091384 0.58546963]
 [0.96881689 0.72999201 0.86566372 0.59429548 0.79075545 0.65837172
  0.41753127 0.96696904 0.62158152 0.49509321]
 [0.79217027 0.82654913 0.86275683 0.75101154 0.38509958 0.97127804
  0.37359927 0.4362343  0.53777014 0.14729626]
 [0.05107377 0.13767842 0.85629886 0.53415216 0.79058532 0.38024388
  0.51097862 0.51191554 0.06149596 0.28574206]
 [0.73653796 0.09877172 0.14567436 0.53102172 0.52655679 0.96698176
  0.71020925 0.07499439 0.07508474 0.63365689]
 [0.45366267 0.78870057 0.65922414 0.46725866 0.20565413 0.10979754
  0.80026455 0.50412171 0.65722528 0.4651562 ]
 [0.98649482 0.58227236 0.94265877 0.7431304  0.37314387 0.24054546
  0.0118268  0.29469362 0.67232469 0.09434831]
 [0.31080928 0.16497932 0.72078568 0.86048113 0.6810847  0.0513164
  0.81727496 0.98535869 0.87973467 0.85904779]
 [0.76114414 0.81337303 0.52312259 0.84884561 0.57857175 0.14932772
  0.37790756 0.14060717 0.11711691 0.88473595]]
El mayor: 0.9864948222587473
El menor: 0.011826796850298527

In [83]:
## 10)

In [20]:
from scipy import misc
from scipy import ndimage

imagen = misc.face()
rgb = np.unique(imagen.reshape(-1, imagen.shape[2]), axis=0)
print(rgb)
print('--> 2 Colores')

[[  0   0   5]
 [  0   0   7]
 [  0   0   9]
 ...
 [255 248 255]
 [255 249 255]
 [255 252 255]]
--> 2 Colores

In [86]:
## 11)

In [27]:

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
import pandas as pd
lista_serie = pd.Series(mylist)
arreglo_serie = pd.Series(myarr)
dicci_serie = pd.Series(mydict)
print(lista_serie)
print(arreglo_serie)
print(dicci_serie)

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
16    q
17    r
18    s
19    t
20    u
21    v
22    w
23    x
24    y
25    z
dtype: object
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: int32
a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64

In [85]:
## 12)

In [30]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
# Transformar la serie en dataframe y hacer una columna indice
print(ser)
dataFrame = ser.to_frame().reset_index
print(dataFrame)

a     0
b     1
c     2
e     3
d     4
f     5
g     6
h     7
i     8
j     9
k    10
l    11
m    12
n    13
o    14
p    15
q    16
r    17
s    18
t    19
u    20
v    21
w    22
x    23
y    24
z    25
dtype: int64
<bound method DataFrame.reset_index of     0
a   0
b   1
c   2
e   3
d   4
f   5
g   6
h   7
i   8
j   9
k  10
l  11
m  12
n  13
o  14
p  15
q  16
r  17
s  18
t  19
u  20
v  21
w  22
x  23
y  24
z  25>

In [84]:
## 13)

In [34]:

import numpy as np
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))
#a = pd.DataFrame
dataFrame_series = pd.DataFrame({'Primera': ser1,'Segunda': ser2})
print(dataFrame_series)

   Primera  Segunda
0        a        0
1        b        1
2        c        2
3        e        3
4        d        4
5        f        5
6        g        6
7        h        7
8        i        8
9        j        9
10       k       10
11       l       11
12       m       12
13       n       13
14       o       14
15       p       15
16       q       16
17       r       17
18       s       18
19       t       19
20       u       20
21       v       21
22       w       22
23       x       23
24       y       24
25       z       25

In [40]:
## 14) ¬øComo obtener los items que esten en una serie A y no en una serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
test= ser1[-ser1.isin(ser2)]
print('Los que no estan son')
print(test)

Los que no estan son
0    1
1    2
2    3
dtype: int64

In [45]:
## 15) ¬øComo obtener los items que no son comunes en una serie A y serie B?
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

a_notB = ser1[-ser1.isin(ser2)]
b_notA = ser2[-ser2.isin(ser1)]

no_comun = np.append(a_notB,b_notA)
print('NO COMUNES EN AMBAS')
print(no_comun)

NO COMUNES EN AMBAS
[1 2 3 6 7 8]

In [38]:
## 16)
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
repe = ser.value_counts()
print(repe)

c    7
d    5
f    5
g    3
e    3
h    3
b    3
a    1
dtype: int64

In [54]:
## 17)
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print(f'La SERIE \n{ser}')
print(f'REPETIDOS- \nVALOR/REPE \n{ser.value_counts()}')
ser[-ser.isin(ser.value_counts().index[:2])] = 0
print(f'Cambiados pos cero \n{ser}')

La SERIE
0     1
1     3
2     4
3     1
4     1
5     3
6     2
7     3
8     2
9     1
10    2
11    1
dtype: int32
REPETIDOS-
VALOR/REPE
1    5
3    3
2    3
4    1
dtype: int64
Cambiados pos cero
0     1
1     3
2     0
3     1
4     1
5     3
6     0
7     3
8     0
9     1
10    0
11    1
dtype: int32

In [56]:
## 18) ¬øComo transformar una serie de un arreglo de numpy a un DataFrame con un `shape` definido?
ser = pd.Series(np.random.randint(1, 10, 35))
#shape(7,5)
dataFrame_transfor = pd.DataFrame(ser.values.reshape(7,5))
print(dataFrame_transfor)

   0  1  2  3  4
0  2  7  5  7  2
1  3  4  9  7  5
2  1  5  6  3  9
3  5  3  4  8  7
4  9  4  1  2  8
5  3  8  4  2  9
6  3  2  9  7  1

In [58]:
## 19) ¬øObtener los valores de una serie conociendo la posicion por indice?
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
# a e i o u

indice = ser.take(pos)
print(indice)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [60]:
## 20) ¬øComo anadir series vertical u horizontalmente a un DataFrame?
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
dataFrame_agregado = pd.concat([ser1,ser2], axis=1)
print(dataFrame_agregado)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [68]:
## 21)¬øObtener la media de una serie agrupada por otra serie?
#`groupby` tambien esta disponible en series.
frutas = pd.Series(np.random.choice(['manzana', 'banana', 'zanahoria'], 10))
pesos = pd.Series(np.linspace(1, 10, 10))
print(pesos.tolist())
print(frutas.tolist())
#> [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
#> ['banana', 'carrot', 'apple', 'carrot', 'carrot', 'apple', 'banana', 'carrot', 'apple', 'carrot']

# Los valores van a cambiar por ser random
# apple     6.0
# banana    4.0
# carrot    5.8
# dtype: float64
media = pesos.groupby(frutas).mean()
print(f'La MEDIA ES \n{media}')

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
['banana', 'manzana', 'zanahoria', 'manzana', 'zanahoria', 'zanahoria', 'zanahoria', 'manzana', 'banana', 'banana']
La MEDIA ES
banana       6.666667
manzana      4.666667
zanahoria    5.250000
dtype: float64

In [74]:
## 22)¬øComo importar solo columnas especificas de un archivo csv?

##https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv.
path = 'https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv'
data_importado = pd.read_csv(path)
print('EL COMPLETO')
print(data_importado)
colums = ['nox','rad','tax','zn']
data_importado_especificas = pd.read_csv(path, usecols=colums)
print('\n\nESPECIFICAS')
print(data_importado_especificas)

EL COMPLETO
        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98  24.0
1       17.8  396.90   9.14  21.6
2       17.8  392.83   4.03  34.7
3       18.7  394.63   2.94  33.4
4       18.7  396.90   5.33  36.2
..       ...     ...    ...   ...
501     21.0  391.99   9.67  22.4
502     21.0  396.90   9.08  20.6
503     21.0  396.90   5.64  23.9
504     21.0  393.45   6.48  22.0
505     21.0  396.90   7.88  11.9

[506 rows x 14 columns]


ESPECIFICAS
       zn    nox  rad  tax
0    18.0  0.538    1  296
1     0.0  0.469    2  242
2     0.0  0.469    2  242
3     0.0  0.458    3  222
4     0.0  0.458    3  222
..    ...    ...  ...  ...
501   0.0  0.573    1  273
502   0.0  0.573    1  273
503   0.0  0.573    1  273
504   0.0  0.573    1  273
505   0.0  0.573    1  273

[506 rows x 4 columns]